@font-face {
    font-family: "Dosis";
    src: url("Dosis-Medium.ttf");
}

body {
    font-family: "Dosis";
    background: no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

p {
    padding: 15px;
}

.text {
    color: #222;
}

.vert-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background-color: rgba(200,200,200,0.8);
    border-radius: 5px;
}

.btn {
    text-align: center;
    color: #FFFFFF;
    background-color: #188F84;
    border-radius: 8px;
    border: 2px solid #026666;
}

.btn:hover {
    background-color: #026666;
    cursor: pointer;
}

.bg-blur {
    position: fixed;
    left: 0;
    top: 0;
}

.city-txt {
    font-size: 16pt;
}

.bar-txt {
    font-size: 16pt;
}

.bar-btn {
    font-size: 14pt;
}

.parc-txt {
    font-size: 16pt;
}

.soiree-txt {
    font-size: 16pt;
}

.appart-txt {
    font-size: 16pt;
}
